body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 650px;
    margin: 250px auto;
    border: 3px solid rgba(191, 233, 24, 0.688);
    background-color: darkolivegreen;
    padding: 15px 25px;
    color: white;
}
h1 {
	color: white;
	margin-top: 0;
}
main {
    padding: 1em 2em;
}
label {
	float: left;
    width: 16em;
    text-align: right;
}
input {
    margin-left: 10px;
    margin-bottom: .5em;
}
